POSTGRES_DB="dropship_control"
POSTGRES_USER="dropship"
POSTGRES_PASSWORD="dropship_local_password"
POSTGRES_PORT="5432"
DATABASE_URL="postgresql://dropship:dropship_local_password@localhost:5432/dropship_control?schema=public"
AUTH_SECRET="gere-com-npx-auth-secret"
APP_URL="http://localhost:3000"
TIKTOK_SHOP_APP_KEY=""
TIKTOK_SHOP_APP_SECRET=""
TIKTOK_SHOP_AUTH_URL=""
TIKTOK_SHOP_TOKEN_URL=""
TIKTOK_SHOP_API_BASE_URL=""
TIKTOK_SHOP_PRODUCTS_PATH=""
TIKTOK_SHOP_ORDERS_PATH=""
TIKTOK_SHOP_SHOP_INFO_PATH=""
TIKTOK_SHOP_SCOPES=""
TIKTOK_SHOP_TOKEN_GRANT_TYPE="authorized_code"
TIKTOK_SHOP_REFRESH_GRANT_TYPE="refresh_token"
TIKTOK_SHOP_TOKEN_SECRET=""
TIKTOK_SHOP_WEBHOOK_SECRET=""
