POSTGRES_DB="dropship_control"
POSTGRES_USER="dropship"
POSTGRES_PASSWORD="dropship_local_password"
POSTGRES_PORT="5432"
DATABASE_URL="postgresql://dropship:dropship_local_password@localhost:5432/dropship_control?schema=public"
AUTH_SECRET="gere-com-npx-auth-secret"
AUTH_URL="http://localhost:3000"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
APP_URL="http://localhost:3000"
TIKTOK_SHOP_APP_KEY="
6johilih7haho9"
TIKTOK_SHOP_APP_SECRET="
55219715a5b9909c0adb4fe0a7c9e4fa41745998"
TIKTOK_SHOP_AUTH_URL="https://auth.tiktok-shops.com/oauth/authorize"
TIKTOK_SHOP_TOKEN_URL="https://open-api.tiktokglobalshop.com/api/token/get"
TIKTOK_SHOP_API_BASE_URL="https://open-api.tiktokglobalshop.com"
TIKTOK_SHOP_PRODUCTS_PATH="/product/202309/products/search"
TIKTOK_SHOP_ORDERS_PATH="/order/202309/orders/search"
TIKTOK_SHOP_SHOP_INFO_PATH="/authorization/202309/shops"
TIKTOK_SHOP_SCOPES="seller.product.basic,seller.order.info,seller.shop.info"
TIKTOK_SHOP_TOKEN_GRANT_TYPE="authorized_code"
TIKTOK_SHOP_REFRESH_GRANT_TYPE="refresh_token"
TIKTOK_SHOP_TOKEN_SECRET="minha-chave-super-segura"
TIKTOK_SHOP_WEBHOOK_SECRET=""
